* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    50deg,
    hsl(0, 100%, 70%),
    hsl(240, 100%, 70%)
  );
}

div {
  display: inline-block;
  padding: 50px;
  width: 50%;
  height: 60%;
  background-color: hsl(0, 50%, 100%, 0.5);
}

h1 {
  text-align: center;
  font: optional;
  justify-content: center;
  margin: 20px;
}

p {
  text-align: center;
}
